.footer{
   
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #FEE89E;
}
.search{
 
border: 1px solid black;
background: #FFFFFF;
border-radius: 3px;
width: 30%;
}
.searchh{
    width: 75%;
}
.btn{
    margin-right: 0px;
    border-left: 1px solid black;
    background-color: #2DD3E3 !important;
    width: 25%;

}
@media screen and (max-width: 850px) {
    .title{
        font-size: 30px;
    }
    .search{
    width: 60%;
    }
    .searchh{
        width: 75%;
    }
    .btn{
      
        width: 25%;
    
    }
  }
    

.etext{
    margin-bottom: 20px;
}
.uls li{
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px
    
}
.uls li:hover {
    color:black;
    font-weight: 700;
}
.icons{
    margin-right: 120px;

}
